@using outlay_mvc.Dtoes;
@model JoinCategoryDto

<form method="post" class="mx-1 mx-md-4">

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label for="Key" class="form-label">Key</label>
        <input type="text" asp-for="Key" class="form-control">
        <span class="text-danger" asp-validation-for="Key"></span>
    </div>

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Join</button>
    </div>

</form>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>