@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my outlay statistics site</h1>
    <p>
        If you add information about your expenses here, my site can save them, so you can see daily or monthly statistics about your expenses. 
        Not only for one person, but many people can open their own category and this site will calculate how much money each person has spent and 
        how much money they have to give or receive from others.
    </p>
</div>
